@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// universal
$green-lighter: #ebffe3;
$green-light:   #5cb85c;
$green-dark:    #0d5c0d;

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #5f5f5f;
}

a, a > h4 {
  color: $green-dark;
}

.navbar-default {
  background-color: $green-light;
  margin-bottom: 0px;
  .navbar-brand {
    color: white;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.all-container {
  background-color: $green-lighter;
  padding: 10px;
}

.container-white {
  background-color: white;
}

.title {
  padding-bottom: 15px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// flash
.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// errrors
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// forms
input {
  margin-bottom: 10px;
}

.url-form {
  margin-top: 50px;
}

.site-list {
  margin: 30px 0;
}

// crawl result
.result {
  margin-top: 30px;
  .btn {
    width: 100%;
  }
}

// user
#user_info {
  padding: 10px;
}

#edit_profile_link {
  margin-top: 20px;
}

// product
.product {
  margin-bottom: 30px;
  #product_btn_area {
    margin-top: 20px;
  }
}

.product-image {
  width: 50%;
}

// product-digest
.product-digest {
  // margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid $green-light;
}

// price-drop
.price-down {
  color: blue;
}

.price-rised {
  color: red;
}

#update_all_products {
  float: right;
  margin-top: 20px;
  .btn {
    margin-right: 10px;
  }
  span {
    color: red;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
